@font-face {
    src: url("./assets/fonts/Inter-Regular.ttf");
    font-family: "Inter-Regular";
    font-weight: 400;
}

@font-face {
    src: url("./assets/fonts/Inter-Medium.ttf");
    font-family: "Inter-Medium";
    font-weight: 500;
}

